Macro/bin/
Macro/obj/
Utils/obj/
Utils/bin/
.vs/
packages/
Release/exe/
Release/Install/Setup.exe
Patcher/.vs/
Patcher/Patcher/bin/Debug/ControlzEx.dll
Patcher/Patcher/bin/
Patcher/Patcher/obj/
.gitattributes
Patcher/Patcher/Patcher.csproj.user
Patcher/obj/
Patcher/bin/
Macro/Macro.csproj.user
*.user
Release/Install/
