<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdsJumbo.WinForm.WPF" version="1.5.0" targetFramework="net472" />
  <package id="ControlzEx" version="5.0.2" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.Extensions" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.Windows" version="4.7.0.20230115" targetFramework="net48" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.7.0.20230115" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>