<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<targets>
		<target key ="consoleConfig" type ="console" format="${date} | ${level} | ${message}">
          <option type="color" key="Debug" value="DarkGray"/>
          <option type="color" key="Info" value="DarkGray"/>
          <option type="color" key="Error" value="DarkRed"/> 
          <option type="color" key="Fatal" value="DarkRed"/>
        </target>
        <target key="fileConfig" type ="file" format="${date} | ${level} | ${message}">
          <option type ="fileName" value="./logs/LogFile.txt"/>
          <option type ="archiveFileName" value ="./archive/log.{#}.txt"/>
          <option type ="archiveRolling" value ="Day"/>
          <option type ="maxArchiveFiles" value ="7"/>
          <option type ="keepConnectionOpen" value="true"/>
        </target>
		<target key="databaseConfig" type="database">
			<database connection =""
					  provider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
				      commandText="insert into log (logged, level, message)
										values (@logged, @level, @message);">

				<option type="parameter" key="@level" value="${level}"></option>
				<option type="parameter" key="@logged" value="${date}"></option>
				<option type="parameter" key="@message" value="${message}"></option>
			</database>
			<option type ="keepConnectionOpen" value="true"/>
		</target>
	</targets>
	<loggers>
		<logger key="consoleConfig" minLogLevel="Debug"></logger>
    <logger key ="fileConfig" minLogLevel="Info"></logger>
		<!--<logger type ="databaseConfig" name="" minLogLevel="Info"></logger>-->
	</loggers>
</configuration>